<!DOCTYPE html>
<html lang="en">

<head>
    <title>Resturant Site Switch</title>
    <!-- The VUE CDN ! Next version 3 -->
    <!--<script src="https://unpkg.com/vue@next"></script>-->
    <script src="https://unpkg.com/vue@3"></script>
    <style>
        body {
            background-color: cornflowerblue;
            color: white;

        }

        /* sets the heirarchy for what elements go below it */
        .parent {
            display: inline-block;
            padding: 12px 20px;
            box-sizing: border-box;
            border-radius: 4px;
            vertical-align: middle;
            font-size: 14px;
        }

        /*gets the divs to display next to eachother  */
        .child {
            display: inline-block;
            border: 1px solid white;
            padding: 10px;
            vertical-align: top;

        }

        /* changes the backgroun and the boxes */
        .child label,
        .child input {
            display: grid;
            background-color: lightcyan;
            color: black;
            padding: 10px 10px 10px 10px;

        }

        /* edits the actual dot for the radio button */
        .child input[type="radio"],
        .child input[type="checkbox"] {
            opacity: 0.011;
            z-index: 100;
            width: 150px;


        }

        #menu.child,
        #menu_section.child,
        #menu_items.child {
            width: 200px;
        }


        /*changes the color of the selected item*/
        input[type="radio"]:checked+label {
            background: lightgrey;
            border-radius: 4px;
        }

        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: lightgrey;
        }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }





        .modal {
            display: none;
            position: fixed;
            left: 400px;
            right: auto;
            bottom: auto;
            background-color: rgb(184, 199, 209);
            color: black;
            border-style: groove;
            padding: 20px;
            align-items: center;
            width: 300px;
            z-index: 1;

        }

        .btnModalTitle {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 20px;
            /* Added padding for spacing */

        }

        .btnModalButtons {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            /* Create three columns */
            grid-gap: 0;
            /* Space between rows and columns */
            justify-items: center;
            /* Center the buttons in the grid */

        }

        #btnNums {
            width: 60px;
            /* Set a fixed width for buttons */
            height: 60px;
            /* Set a fixed height for buttons */
            margin: 2.5px;
            /* Space around buttons */
        }

        .btnAskModal {
            display: flex;
            justify-content: center;

        }

        #btn_Yes,
        #btn_Back,
        #btn_Cancel {
            width: 75px;
            /* Set a fixed width for buttons */
            height: 75px;
            /* Set a fixed height for buttons */
            margin: 25px;
            /* Space around buttons */
            padding: 10px;
            text-align: center;
            justify-content: center;
        }


        .myModalAsk {
            display: flex;
            flex-direction: column;
            padding: 20px;
            align-items: center;
            width: 300px;
            height: 300px;
        }

        #askModal {
            display: none;
            justify-content: center;
        }

        #logEmpl {
            padding: 6px 12px;
            background-color: lightgrey;
            cursor: pointer;
            font-size: x-large;
        }

        .empTab button:hover {
            color: blue;
        }

        .tableAval {
            color: green;
        }

        .tableAval:hover {
            color: blue;
            background-color: aliceblue;
        }

        .tableLock {
            color: yellow;
        }

        .tableRes {
            color: rgb(199, 1, 199);
        }

        .tableClose {
            color: rgb(129, 0, 0);
        }

        .tableClose:hover {
            color: rgb(129, 0, 0);
            cursor: not-allowed;
        }
    </style>

</head>

<body>
    <h1>Resturant Site Capstone Front</h1>

    <div id="vueRadio" class="parent">
        <button v-on:click="getTimestamp">save time</button>
        <button v-on:click="toDatabase">Send to .JSON</button>

        <div id="buttonModal" class="modal">
            <div class="btnModalTitle">
                <h1 id="buttonHead"></h1>
                <input type="text" :value="empValue"
                    style="height: 50px; font-size: x-large; width: 100px; text-align: center;" readonly></input>
            </div>
            <div class="btnModalButtons">
                <button id="btnNums" v-for="btnum in butNums" v-on:click="handleBtn(btnum)">[[btnum]]</button>
            </div>
        </div>

        <div id="myModalAsk" class="modal">
            <h1 id="h_Ask" style="text-align: center;"></h1>

            <div id="askModal">
                <div class="btnAskModal">
                    <input id='btn_Yes' type="button" value="Yes" @click="modalType('yes')"></input>
                    <input id='btn_Back' type="button" value="Back" @click="modalType('back')"></input>
                </div>
                <div class="btnAskModal">
                    <input id='btn_Cancel' type="button" value="Exit" @click="modalType('cancel')"></input>
                </div>
            </div>
        </div>

        <div class="tab" style="text-align: middle;">
            <button class="tablinks" v-for="tb in tables" :class="tableCheck(tb)" v-on:click="switchTable(tb.id)"
                style="font-size: larger;">Table [[tb.id]]</button>
        </div>
        <div id="checkoutSide" class="child">
            <textarea id="txaFinalOrder" :value="finalOrder" v-on:click="selLine" readonly
                style="height:250px; width:350px; background-color: white; font-size: x-large;"></textarea>
            <div class="child tabContent" style="display: none;">
                <textarea :id="txaFinalOrder" :value="finalOrder"
                    style="height:250px; width:350px; background-color: white;" disabled="readonly"></textarea>
            </div>
            <br />
            <input type="button" id="btnAddOrder" v-on:click="addToFinal" value="Add To Order Final Order"
                style="background-color: lightgrey;">

            <input type="button" id="btnClearOrder" v-on:click="clearOrder" value="Clear the whole order"
                style="background-color: lightgrey;">
            <input type="button" id="btnPrint" v-on:click="printOrder" value="Print the whole order"
                style="background-color: lightgrey;">
            <button @click="sendData" style="background-color: lightgrey;">Send Data to
                Flask</button><br></br>
            <button @click="getmenus" style="background-color: lightgrey;">Get menus from
                Flask</button><br></br>
            <div style="width: 300px;">
                <span style="font-size: large;">Item Description:<p>[[entreChoice.menu_item_desc]]</p></span>
                <span style="font-size: large;">Item Price: $[[indTotal]]</span>
                <span style="font-size:xx-large;">
                    <p>Total: $[[overallTotal]]</p>
                </span>
            </div>
        </div><!--end table 1 checkout-->
        <div id="menu_table" class="child" v-if="currentTableId > 0">
            <div id="menu" class="child">
                <h1>Menu</h1>
                <div>
                    <span v-for="(men, index) in menus" v-if="10 > menus.length">
                        <input type="radio" :id="men.menu_name" name="menu_RAD" v-model="sel_menu" :value="men" />
                        <label :for="men.menu_name">[[men.menu_name]]</label>
                    </span>
                </div>
            </div><!--ends entre-->
            <div id="menu_section" class="child">
                <h1>Sections</h1>
                <span v-if="sel_menu" v-for="sec in menu_sections" v-show="sel_menu.menu_id == sec.menu_sec_parent">
                    <input type="radio" :id="sec.menu_section_name" name="menSec_RAD" v-model="sel_section"
                        :value="sec" />
                    <label :for="sec.menu_section_name">[[ sec.menu_section_name ]]</label>
                </span>

            </div>
            <div id="menu_items" class="child">
                <h1>Items</h1>
                <span v-if="sel_menu" v-for="item in menu_items"
                    v-show="sel_section.menu_section_id == item.menu_item_parent && item.menu_main == sel_menu.menu_id">
                    <input type="radio" :id="item.menu_item_name" name='menItem_RAD' v-model="entreChoice" :value="item"
                        v-on:change="calc" />
                    <label :for="item.menu_item_name">[[item.menu_item_name]]</label>
                </span>
                <span v-for="item in menu_items"
                    v-show="sel_menu.menu_id == item.menu_main && item.menu_item_parent == 0">
                    <input type="radio" :id="item.menu_item_name" name='menItem_RAD2' v-model="entreChoice"
                        :value="item" v-on:change="calc" />
                    <label :for="item.menu_item_name">[[item.menu_item_name]]</label>
                </span>
            </div>

        </div> <!--ends child-->
        <br />
        <br />

        <div class="empTab">
            <button id="logEmpl" v-on:click="logEmpl">Employee</button>
        </div>
    </div><!--end of the vue div-->

    <script>

        const Order = {
            delimiters: ['[[', ']]'],
            data() {
                return {
                    tables: [
                        { id: 1, tableOrder: '', tableTotal: 0, server: '', status: 'open', SrtTime: '' },
                        { id: 2, tableOrder: '', tableTotal: 0, server: '', status: 'open', SrtTime: '' },
                        { id: 3, tableOrder: '', tableTotal: 0, server: '', status: 'open', SrtTime: '' },
                        { id: 4, tableOrder: '', tableTotal: 0, server: '', status: 'open', SrtTime: '' },
                        { id: 5, tableOrder: '', tableTotal: 0, server: '', status: 'open', SrtTime: '' },
                        { id: 6, tableOrder: '', tableTotal: 0, server: '', status: 'open', SrtTime: '' },
                        { id: 7, tableOrder: '', tableTotal: 0, server: '', status: 'resv', SrtTime: '' },
                        { id: 8, tableOrder: '', tableTotal: 0, server: '', status: 'close', SrtTime: '' },
                        { id: 9, tableOrder: '', tableTotal: 0, server: '', status: 'close', SrtTime: '' },
                        { id: 10, tableOrder: '', tableTotal: 0, server: '', status: 'close', SrtTime: '' }
                    ],
                    butNums: [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 'CLR', 'DEL', 'OK', "X"],
                    currentTableId: 0,
                    menu_items: [],
                    menus: [],
                    menu_sections: [],
                    toppings: [],
                    entreChoice: [],
                    indTotal: 0,
                    overallTotal: 0,
                    finalOrder: [],
                    finalOrderItems: [],
                    sel_menu: 0,
                    sel_section: 0,
                    txaFinalOrder: '',
                    empPin: '',
                    empName: '',
                    empHours: 0,
                    empValue: '',
                    clockVal: -1


                }//end return
            }, //end data property

            mounted() {
                console.log("mounted")

            },

            created() {
                /* get the entres from the file written from the database */
                this.fetchData();
                this.polling = setInterval(() => {
                    this.fetchData();
                }, 5000); // Check every 10 seconds
            },
            beforeDestroy() {
                clearInterval(this.polling); // Clear the interval when the component is destroyed

            },




            methods: {
                fetchData() {
                    fetch('./static/data/menu_items.json')
                        .then(response => response.json())
                        .then(data => {
                            this.menu_items = data.menu_items;


                        })
                    fetch('./static/data/menu.json')
                        .then(response => response.json())
                        .then(data => {
                            this.menus = data.menu;

                        })
                    fetch('./static/data/menu_sections.json')
                        .then(response => response.json())
                        .then(data => {
                            this.menu_sections = data.menu_sections;
                        })
                    /* read the toppings from a new .json file */
                    fetch('./static/data/toppings.json')
                        .then(response => response.json())
                        .then(data => {
                            this.toppings = data.toppings;
                        })
                        .catch(function (error) {
                            console.log(error);
                        })

                },
                sendData() {

                    fetch('/add_data', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(this.tables)
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Success:', data);
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                },
                getmenus() {
                    fetch('/get_menus')
                        .then(response => response.json())
                        .then(data => {
                            console.log(data['menu'])
                            this.menus = data['menu'];
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                },

                async clockEmpl() {

                    const postData = {
                        empCode: this.empPin,
                        timestamp: this.getTimestamp(),
                        clockVal: this.clockVal
                    };
                    try {
                        const response = await fetch('/clock_Empl', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(postData)
                        })

                        const data = await response.json()
                        console.log("Success:", data)
                        return data['Contents']


                    } catch (error) {
                        console.error("Error: ", error)
                    }
                },

                async check_clock() {
                    const postData = {
                        empCode: this.empValue,
                    };
                    try {
                        const response = await fetch('/check_clock', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(postData)
                        })

                        const data = await response.json()
                        this.clockVal = data
                        console.log(this.clockVal)
                        console.log('Success:', data);

                    } catch (error) {
                        console.error('Error', error)
                    }
                },


                /* calculate the cost of each individual item so it is easier to add to the overall bill */
                calc() {

                    //alert("HI");
                    this.indTotal = 0;
                    if (this.entreChoice) {
                        this.indTotal = this.entreChoice.menu_item_price;
                    }
                    this.indTotal = parseFloat(this.indTotal).toFixed(2);



                },//end Calc 
                /* adds the input to the final order display. this function is like sending something to the 
                check. */
                addToFinal() {

                    const currentTable = this.tables.find(table => table.id === this.currentTableId);
                    console.log(currentTable.id)
                    currentTable.tableOrder += this.entreChoice.menu_item_name + " " + this.indTotal + "\n";
                    currentTable.tableTotal += parseFloat(this.indTotal)

                    this.finalOrder = currentTable.tableOrder;
                    this.overallTotal = currentTable.tableTotal.toFixed(2);


                    this.entreChoice = []
                    this.indTotal = ''
                },

                clearOrder() {
                    const currentTable = this.tables.find(table => table.id === this.currentTableId);
                    currentTable.tableOrder = ''
                    currentTable.tableTotal = 0

                    this.finalOrder = "";
                    this.indTotal = 0;
                    this.overallTotal = (0).toFixed(2);
                },

                /* our version of "printing" the recipt for the customer */
                printOrder() {
                    alert(this.finalOrder)
                },

                tableCheck(table) {
                    if (table.status == 'open') {
                        return 'tableAval'
                    }
                    else if (table.status == 'close') {
                        return 'tableClose'
                    }
                    else if (table.status == 'resv') {
                        return 'tableRes'
                    }
                    else if (table.status == 'sat') {
                        return 'tableLock'
                    }

                },

                switchTable(tableId) {

                    const tableSwitchFrom = this.tables.find(table => table.id === this.currentTableId);

                    if (this.tables[tableId - 1].status == 'open') {
                        this.modalType('OP_table', tableId)
                        return
                    }
                    else if (this.tables[tableId - 1].status == 'close') {
                        this.modalType('CL_table', tableId)
                        return
                    }
                    else if (this.tables[tableId - 1].status == 'lock') {
                        this.modalType('CL_table', tableId)
                        return
                    }
                    else if (this.tables[tableId - 1].status == 'resv') {
                        this.modalType('CL_table', tableId)
                        return
                    }

                    if (tableSwitchFrom.id == tableId) {
                        console.log("same table switch")
                        return
                    }

                    else {
                        console.log(this.tables)
                        const tableSwitchTo = this.tables.find(table => table.id === tableId);

                        this.currentTableId = tableSwitchTo.id
                        this.finalOrder = tableSwitchTo.tableOrder
                        this.overallTotal = tableSwitchTo.tableTotal.toFixed(2)
                    }

                },

                selLine() {
                    const textarea = document.getElementById('txaFinalOrder');
                    const cursorPosition = textarea.selectionStart;
                    const lines = textarea.value.split('\n');
                    let start = 0;
                    let end = 0;

                    for (let i = 0; i < lines.length; i++) {
                        end = start + lines[i].length;
                        if (cursorPosition >= start && cursorPosition <= end) {
                            // Check if the cursor is at the very end of the previous line
                            if (cursorPosition === start && i > 0) {
                                start--;
                            }
                            break;
                        }
                        start = end + 1; // Move to the start of the next line, including the newline character
                    }

                    // Select the entire line
                    textarea.setSelectionRange(start, end);
                },

                logEmpl() {
                    if (this.empPin != '') {
                        document.getElementById("buttonHead").innerHTML = "Enter Employee Pin"
                        document.getElementById("buttonModal").style.display = "block"
                    }
                    else if (this.empPin == '') {
                        document.getElementById("buttonHead").innerHTML = "Enter Employee Number"
                        document.getElementById("buttonModal").style.display = "block"
                    }
                    else {
                        console.error("Emp Login")
                    }
                },

                async handleBtn(btnum) {
                    if (btnum == "X") {
                        this.empValue = ""
                        this.empPin = ''
                        document.getElementById("buttonModal").style.display = "none"
                    }
                    else if (btnum == "CLR") {
                        this.empValue = ""
                    }
                    else if (btnum == "DEL") {
                        let empStr = this.empValue
                        empStr = empStr.slice(0, -1)
                        this.empValue = empStr
                    }
                    else if (btnum == "OK") {
                        this.handleEmplLog()
                    }
                    else if (this.empValue.length != 3 && this.empPin == '') {
                        this.empValue += btnum
                    }
                    else if (this.empValue.length != 4 && this.empPin != '') {
                        this.empValue += btnum
                    }
                    else {

                    }
                },

                async handleEmplLog() {
                    const response = await fetch('./static/data/employees.json');
                    const data = await response.json()

                    if (this.empPin == '') {
                        const employee = data.Employee.find(emp => emp.pin_num === parseInt(this.empValue));
                        if (employee) {
                            this.empName = employee.display_name
                            this.modalType('F_empNum')
                        }
                        else {
                            this.empPin = ""
                            this.modalType('NF_empNum')

                        }
                    }

                    else if (this.empPin != '') {
                        const employee = data.Employee.find(emp => emp.pin_code === parseInt(this.empValue));
                        console.log(employee)
                        if (employee) {

                            this.empHours = await this.clockEmpl()
                            console.log(this.empHours)

                            this.modalType('S_login')
                        }
                        else {
                            this.modalType('NF_empPin')
                        }
                    }
                },

                async modalType(type, data = 0) {

                    const buttonModal = document.getElementById("buttonModal")
                    const myModalAsk = document.getElementById("myModalAsk")
                    const askModal = document.getElementById("askModal")
                    const btn_Yes = document.getElementById("btn_Yes")
                    const btn_Back = document.getElementById("btn_Back")
                    const btn_Cancel = document.getElementById("btn_Cancel")
                    const h_Ask = document.getElementById("h_Ask")
                    hideAll()

                    buttonModal.style.display = 'none'
                    myModalAsk.style.display = 'block'

                    if (type == 'F_empNum') {
                        await this.check_clock()
                        console.log(this.clockVal)
                        if (this.clockVal == 0) {
                            h_Ask.innerHTML = "Log-In as " + this.empName + "?"
                        }

                        else if (this.clockVal == 1) {
                            h_Ask.innerHTML = "Log-Out as " + this.empName + "?"
                        }
                        else {
                            console.error("Clock Value")
                        }


                        askModal.style.display = "block"

                        btn_Yes.style.display = 'flex'
                        btn_Back.style.display = 'flex'
                        btn_Cancel.style.display = 'flex'
                    }
                    else if (type == 'NF_empNum') {
                        h_Ask.innerHTML = "No Employee found for " + this.empValue

                        askModal.style.display = "flex"

                        btn_Back.style.display = 'flex'
                        btn_Cancel.style.display = 'flex'
                    }
                    else if (type == 'S_login') {

                        if (this.clockVal == 0) {
                            h_Ask.innerHTML = `EMPL: ${this.empName} (${this.empPin}) \n Clocked In`
                        }

                        else if (this.clockVal == 1) {
                            h_Ask.innerHTML = `EMPL: ${this.empName} (${this.empPin}) \n Clocked Out <br><br> Total Hours: ${this.empHours}`
                        }
                        else {
                            console.error("Clock Error")
                        }


                        askModal.style.display = "flex"

                        btn_Cancel.style.display = 'flex'
                        this.empPin = ''
                        this.empName = ''
                        this.empValue = ''
                        this.clockVal = -1
                    }
                    else if (type == 'NF_empPin') {
                        h_Ask.innerHTML = "Invaild Pin Entered"

                        askModal.style.display = "flex"

                        btn_Back.style.display = 'flex'
                        btn_Cancel.style.display = 'flex'
                    }
                    else if (type == 'cancel') {
                        hideAll()

                        this.empValue = ''
                        this.empPin = ''

                    }
                    else if (type == 'back') {
                        hideAll()

                        buttonModal.style.display = "block"
                    }
                    else if (type == 'yes') {
                        hideAll()

                        this.empPin = this.empValue
                        this.empValue = ''
                        this.logEmpl()
                    }
                    else if (type == 'CL_table') {
                        h_Ask.innerHTML = `Table ${data} is closed.`
                        askModal.style.display = "flex"

                        btn_Cancel.style.display = 'flex'
                    }
                    else if (type == 'OP_table') {
                        h_Ask.innerHTML = `Seat Table ${data}?`
                        askModal.style.display = "flex"

                        btn_Yes.style.display = 'flex'
                        btn_Cancel.style.display = 'flex'
                    }


                    function hideAll() {
                        btn_Yes.style.display = 'none'
                        btn_Back.style.display = 'none'
                        btn_Cancel.style.display = 'none'
                        myModalAsk.style.display = "none"
                        askModal.style.display = "none"
                        h_Ask.innerHTML = ''
                    }
                },




                toDatabase() {
                    // Create a JSON object representing the orders data
                    const ordersData = {
                        tables: this.tables.map(table => ({
                            id: table.id,
                            orders: table.orders.map(order => ({
                                finalOrder: order.finalOrder,
                                overallTotal: order.overallTotal
                            }))
                        })),
                        //gives the time stamp for when the order is sent to the .json file
                        time: this.getTimestamp()
                    };
                    // Convert the JSON object to a JSON string
                    const jsonData = JSON.stringify(ordersData, null, 2);
                    // Log jsonData to check if it's formatted correctly
                    console.log("jsonData:", jsonData);

                    // Save the JSON string to a file
                    const filename = 'orders.json';
                    const blob = new Blob([jsonData], { type: 'application/json' });
                    const link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = filename;
                    link.click();
                    //console.log(this.getTimestamp())
                },
                getTimestamp() {
                    const date = new Date();
                    const month = String(date.getMonth() + 1).padStart(2, '0'); // Adding 1 because getMonth() returns zero-based month
                    const day = String(date.getDate()).padStart(2, '0');
                    const year = date.getFullYear();
                    const hours = String(date.getHours()).padStart(2, '0');
                    const minutes = String(date.getMinutes()).padStart(2, '0');
                    const seconds = String(date.getSeconds()).padStart(2, '0');
                    /* proves that it works with the console to verify the answer */
                    console.log(`${year}-${month}-${day} ${hours}:${minutes}:${seconds}`)
                    return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
                }
                /* 
                // Example usage
                console.log(getFormattedTimestamp()); // Output: e.g., 03/18/2024 15:27:45
                
                 */



            }//end Methods

        } //end Order

        Vue.createApp(Order).mount('#vueRadio')


    </script>

</body>

</html>